body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    text-align: center;
    background-color: white; /* Wordle dark bg */
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.game {
    margin-top: 40px;
}

.tities {
    text-align: center;
}

.pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 300px;
    height: 200px;
    background-color: #6AAA64;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 20px;
    z-index: 10;
}


.pop-up h2 {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight:bolder;
}


.pop-up .start {
    width: 50%;
    height: 20%;
    background-color: #eaff4bf5;
    border: none;
    border-radius: 15px;
    font-size: 1.5rem;
    font-family: 'Inter' sans-serif;
}

.pop-up .start:hover {
    transform: scale(1.12);
    background-color: hsl(69, 80%, 75%);
}

.pop-up .start:active {
    transform: scale(0.85);
}


.grid {
    display: grid;
    grid-template-columns: repeat(5, 65px);
    gap: 8px;
    justify-content: center;
}

.keyboard {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.key-row {
    display: flex;
    justify-content: center;
    gap: 6px;
}

.key {
    padding: 12px;
    min-width: 40px;
    background-color: #d3d6da;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

.key:hover {
    background-color: #c1c4c7;
}

.key:active {
    transform: scale(0.9);
}

.key.wide {
    min-width: 70px;
}

.tile {
    height: 60px;
    width: 60px;
    border: 2px solid #D3D6DA;
    text-align: center;
    font-size: 1rem;
}

.correct {
    background-color: #6AAA64;
    color: white;
    border: 2px solid #6AAA64;
}

.present {
    background-color: #C9B458;
    color: white;
    border: 2px solid #C9B458;
}

.absent {
    background-color: #787C7E;
    color: white;
    border: 2px solid #787C7E;
}

.tile:focus {
    outline: none;
}

.flip {
  animation: flip 0.6s ease forwards;
}

@keyframes flip {
  0% {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0);
  }
}

.you-win {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 300px;
    height: 200px;
    background-color: #6AAA64;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 20px;
    z-index: 10;
}

.you-win .play-again {
    width: 50%;
    height: 20%;
    background-color: #eaff4bf5;
    border: none;
    border-radius: 15px;
    font-size: 1.5rem;
    font-family: 'Inter' sans-serif;
    visibility: hide;
}

.you-win .play-again:hover {
    transform: scale(1.12);
    background-color: hsl(69, 80%, 75%);
}

.you-win .play-again:active {
    transform: scale(0.85);
}
